<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aa tutorials</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>


<nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #2a6b01;">
    <a class="btn btn-light" href="#"><b>aacodes Tutorials</b></a>
    <div class="collapse navbar-collapse" id="horizontalNavBar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>

        <a class="mr-sm-2" href="https://github.com/aacodes" target="_blank">
            <img width="30" height="30" alt="" src="/img/GitHub-Mark-120px-plus.png"/>
        </a>
        <a class="btn btn-outline-success my-2 my-sm-0" href="https://github.com/aacodes" target="_blank">GitHub Projects</a>

    </div>
</nav>

<div class="container-fluid" style="margin-top:65px">
    <div class="media">
        <img src="..." class="align-self-start mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0">About</h5>
        </div>
    </div>
</div>
</body>